body{
    background-color: black;
    width: 100%;
    height: 1200px;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFEBCD;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }
  
  li a:hover {
    background-color: #111;
  
  }  

header {
    grid-area: header;
    color:white;
    padding: 10px;
    font-family: 'Verdana';
    font-size: 250%;
    text-align: center;
    background-image: url('./bagels.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


